$breakpoints: (
  'xs': 'screen and (min-width: 480px)',
  'sm': 'screen and (min-width: 768px)',
  'md': 'screen and (min-width: 1000px)',
  'lg': 'screen and (min-width: 1140px)',
) !default;

$slideCounts: 4;

@mixin media( $breakpoint: md ) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin hover-effect {
  opacity: 1.0;
  transition: opacity .2s ease;

  &:hover {
    opacity: .7;
  }
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
